<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link lang="en"></link>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" th:content="${metaDescription}"/>
    <meta name="google-site-verification" content="I9Km4hhR8Nf265lMNg0dDpXtvcf_m3u9NcuRgZw2cXk" />
    <link rel="icon" href="../../favicon.ico"/>
    <title>EPC <th:block th:text="${location}">Daventry</th:block></title>
    <th:block th:replace="headerFooter :: staticInclude"></th:block>
  </head>
  <body>
    <th:block th:replace="headerFooter :: header"></th:block>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" th:style="${'background: url(images/' + location + '.jpg); background-repeat: no-repeat;background-position: center center;background-size:cover;'}">
      <div class="container">
        <h3 class="contactMsg" th:if="${showContactMsg}">Thank you for contacting us, we will be in touch shortly.</h3>
        <h1><strong>EPC <th:block th:text="${location}">Daventry</th:block></strong></h1>
          <p>We provide low cost energy performance certificates with prices fixed on the property size.</p>
          <p>Simple and clear pricing from only £40!</p>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>We cover all properties in <th:block th:text="${location}">Daventry</th:block> and surrounding areas</li>
                <li>Locally based fully accredited and CRB checked energy assessor </li>
                <li>Friendly and professional service</li>
                <li>Appointments booked for your convenience</li>
                <li>Low costs without compromising on service</li>
              </ul>
              <br/>
            </div>
            <div class="col-md-2"><img class="epc_houses" src="images/epc_houses.jpg" th:alt="${altImage}"/></div>
          </div>
            <p>For all your EPC <th:block th:text="${location}">Daventry</th:block> requirements, call us now on (07769) 696777, email adamsepc@aol.com or contact us using our simple form and we will get back to you with a simple low cost quote.</p>
      </div>
    </div>
    <div class="container detailsContainer">
      <div class="row">
        <div class="what-is-epc col-md-4">
          <h2 class="greenText ">What is an EPC?</h2>
          <p>An Energy Performance Certificate contains information about how energy is used in a home or a business premises, along with details of how much the energy used actually costs.</p>
          <p>The assessment gives a property an energy efficiency rating from A (most efficient) to G (least efficient) and is valid for 10 years.</p>
          <p>We can provide an energy performance certificate for properties with a no fuss and convenient service.</p>
          <p><a class="btn btn-default btn-what-is" href="information.html" role="button">Find out more &raquo;</a></p>
        </div>
        <div class="do-i-need-epc col-md-4">
          <h2 class="orangeText">Do I need One?</h2>
          <p>If your are selling or renting your property you must have an EPC before the property goes on the market as this is a legal requirement in England and Wales.</p>
          <p>Even if you are not marketing your property, and energy assessment can be a useful insight into your energy consumption and could give ideas on how to improve the efficiency of your property and reduce energy bills.</p>
          <p>Book now with our locally based energy assessor as a first step to marketing your property.</p>
          <p><a class="btn btn-default" href="contact.html" role="button">Book now &raquo;</a></p>
       </div>
        <div class="whats-involved col-md-4">
          <h2 class="redText">What's involved?</h2>
          <p>Our friendly local Domestic Energy Assesor will attend your property and afterwards a certificate will be issued to illustrate to you how efficient your house currently is and how efficient it could be with the improvements suggested.</p>
          <p>The process is quick and simple. We can provide your service with no hassle and no fuss.</p>
          <p>Make the local and convenient choice with an appointment to fit around your schedule and easy pay on the day terms.</p>
          <p>Any further questions...?</p>
          <p><a class="btn btn-default btn-whats-involved" href="contact.html" role="button">Contact us now &raquo;</a></p>
        </div>
      </div>
    </div>
    <th:block th:replace="headerfooter :: footer"></th:block>
  </body>
</html>